{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <div class="jumbotron glass-effect">
      <h2 class="display-9">Contact Us</h2>
      <p class="lead">Have a question, feedback, or need support? We welcome communication from our users. Reach out to us through the following channels:</p>

      <div class="contact-details">
          <ul>
              <li>
                  <strong>Email:</strong> 
                  <a href="mailto:learninglog.tz@gmail.com">learninglog.tz@gmail.com</a>
              </li>
              <li>
                  <strong>Phone (WhatsApp/SMS):</strong> 
                  <a href="tel:+255678260396">+255 678 260 396</a> 
                  <small>(Available for urgent inquiries)</small>
              </li>
              <li>
                  <strong>GitHub (Technical Projects):</strong> 
                  <a href="https://github.com/Hemedi18/learning-log" target="_blank">Hemedi18/learning-log</a>
              </li>
          </ul>
      </div>

      <p class="mt-4">We look forward to hearing from you!</p>
  </div>
{% endblock page_header %}