{% extends "learning_logs/base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Confirm Delete</h4>
            </div>
            <div class="card-body">
                <p>Are you sure you want to delete the entry "{{ entry.title }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex gap-2 justify-content-end">
                        <a href="{% url 'learning_logs:entry_detail' entry.id %}" class="btn btn-outline-light">Cancel</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}