{% extends "learning_logs/base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h2 class="h4 mb-0">Mipangilio ya Fedha & Malengo</h2>
            </div>
            <div class="card-body">
                <form action="{% url 'learning_logs:financial_goals' %}" method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2 mt-4">
                        <button name="submit" class="btn btn-primary">Hifadhi Mipangilio</button>
                        <a href="{% url 'learning_logs:expenses' %}" class="btn btn-outline-light">Ghairi</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}