{% extends 'learning_logs/base.html' %}

{% block page_header %}
   <h1 class="display-4"><i class="fas fa-list-ul"></i> Topics</h1>
{% endblock page_header %}

{% block content %}
   <div class="row topics-grid">
      {% for topic in topics %}
         <div class="col-6 col-md-6 col-lg-4 mb-4 topic-card" style="animation-delay: {% widthratio forloop.counter0 1 50 %}ms;">
            <div class="card h-100 glass-effect ">
               <div class="card-body d-flex flex-column">
                  <h5 class="card-title"><i class="fas fa-book"></i> {{ topic.text }}</h5>
                  <a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-outline-primary mt-auto">View Topic</a>
               </div>
            </div>
         </div>
      {% empty %}
          <div class="col">
            <div class="alert alert-info glass-effect" role="alert">
            No topics have been added yet.
          </div>
         </div>
      {% endfor %}
   </div>
   <hr>
   <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add a new topic</a>
{% endblock content %}